# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# PENELOPE / MC-GPU data
pendbase/
results/
MC-GPU_materials/
spectrum/
XCAT/
Deprecated/
material_list.txt
view_raw.ipynb
MC-GPU_v1.5b.x
MC-GPU_create_material_data.x