# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Editor
*.swp
*.swo
*~
.vscode/
.idea/

# PENELOPE / MC-GPU data
pendbase/
results/
MC-GPU_materials_bern/
spectrum/
XCAT/
Deprecated/
Deprecated/Schneider
material_list_bern.txt
view_raw.ipynb
MC-GPU_v1.5b.x
MC-GPU_create_material_data.x
zigzag3d.py/
parcel_s1_Dcropped_14012022_1_ct_Dcropped_14012022_1_ct_blank.bin
parcel_s1_Dcropped_14012022_1_ct_Dcropped_14012022_1_ct_HU.bin
parcel_s1_Dcropped_14012022_1_ct_Dcropped_14012022_1_ct_voxelId.bin
parcel_s1_Dcropped_14012022_1_ct_Dcropped_14012022_1_ct.nii